DB_HOST=localhost
DB_PORT=3306
DB_NAME=santa_cruz_segura
DB_USER=root
DB_PASSWORD=tu_password

SECRET_KEY=cambia_esto_por_una_clave_segura_de_64_chars_minimo_aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

APP_ENV=development
UPLOAD_DIR=uploads/
MAX_UPLOAD_MB=10
